
<div class="h-screen bg-[#668cff]">
  <div class="items-center justify-between text-center">
    <div class="title-box">
      <h1>Tienda IDWM</h1>
    </div>
    

    <h2 class="">Registrarse</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <label for="email">Correo electrónico</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          [class.border-red-500]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
        />
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error-message">
          {{ getFieldError('email') }}
        </div>

    </form>
  </div>
</div>
