<body>
  <app-navbar>
    <div class="flex-1 flex justify-center">
      <app-search-bar (notifyParent)="setSearch($event)"></app-search-bar>
    </div>

    <div class="flex items-right space-x-4">
      <button class="btn-iniciar-sesion">
        Iniciar sesión
      </button>
      <button class="btn-iniciar-sesion">
        Boletas
      </button>
    </div>
  </app-navbar>

  <section class="productos" >
    <div class="productos-grid">
      <div *ngFor="let producto of products" class="producto">
        <img class="rounded-t-lg" src="{{ producto.imageUrl }}" alt="{{ producto.name }}" onerror="this.src='images (1).png'"/>
          <p class="text-center">{{ producto.name }}</p>
          <p class="text-center">{{ producto.price | currency:'CLP ' }}</p>

      </div>
  </div>
    <app-change-page-buttons (notifyParent) = "setNewPage($event)" [maxPage]="maxPage" [buttonNextDisabled] = "buttonNextDisabled" [buttonPreviousDisabled] = "buttonPreviousDisabled"></app-change-page-buttons>
  </section>

</body>
